<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.app.mapper.TaskMapper">

    <select id="findAll" resultType="Task">
        SELECT * FROM tasks ORDER BY due_date ASC
    </select>

    <select id="findById" parameterType="long" resultType="Task">
        SELECT * FROM tasks WHERE id = #{id}
    </select>

    <insert id="insert" parameterType="Task" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO tasks 
        (title, details, due_date, category, priority, completed, start_date)
        VALUES 
        (#{title}, #{details}, #{dueDate}, #{category}, #{priority}, #{completed}, #{startDate})
    </insert>
    <update id="update" parameterType="Task">
        UPDATE tasks
        SET
            title = #{title},
            details = #{details},
            due_date = #{dueDate},
            category = #{category},
            priority = #{priority},
            completed = #{completed},
            start_date = #{startDate} 
        WHERE
            id = #{id}
    </update>
    <delete id="delete" parameterType="long">
        DELETE FROM tasks WHERE id = #{id}
    </delete>

</mapper>